<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load render_bundle from webpack_loader %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="base">
        <div class="header">IVAN MAKEEV</div>
        <div class="side-menu">
            <button class="side-menu-button">Моя страница</button>
            <button class="side-menu-button">Новости</button>
            <button class="side-menu-button">Профиль</button>
        </div>
        <div id="index"></div>
    </div>


    {% render_bundle 'app' %}
</body>
</html>
