.b-base {
    position: absolute;
    width: 70%;
    height: auto;
    border: solid black 1px;
    margin-left: 15%;
    margin-top: 2%;
    margin-bottom: 0;
}

.b-header {
  position: relative;
  text-align: right;
  margin: 0;
  padding-right: 5%;
  border: solid black 1px;
}

.b-side-menu {
  position: absolute;
  width: 25%;
  height: auto;
  display: inline-block;
  padding-top: 10px;
}

.b-side-menu-link {
  display: block;
  width: 90%;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 5%;
  color: cornflowerblue;
  text-decoration: none;
}

.b-side-menu-link:hover{
  background: rgba(23,69,92,0.1);
}

.b-side-menu-link:visited{
  color: cornflowerblue;
  text-decoration: none;
}

.b-wrapper {
    position: relative;
    width: 70%;
    height: auto;
    margin-left: 25%;
    padding: 20px;
    border-left: solid black 1px;
}

.b-form-field-wrapper {
    display: block;
    width: 100%;
    margin: 20px 0;
}

.b-form-field {
    width: 300px;
}

.b-post__title {
    margin-bottom: 5px;
    align-items: center;
    font-weight: bold;
    text-align: center;
}

.b-post__author {
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
    font-style: italic;
    text-align: left;
}

.b-post__likes {
  text-align: right;
  margin-top: 10px;
  margin-bottom: 20px;
}

.b-post__comments {
  text-align: right;
  margin-top: 5px;
  margin-bottom: 5px;
}

.b-avatar {
    display: inline;
    border-radius: 20px;
}

.b-user-name {
    display: inline;
    font-size: 20px;
    margin-left: 10px;
}

.b-post__content {
    margin: 0;
}

.b-modal_container {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 10000;
}

.b-modal {
    position: absolute;
    top: 100px;
    right: 100px;
    left: 100px;
    bottom: 100px;
    background: blue;
}

.b-icon {
  height: 70px;
  width: 70px;
}